dev/*
uploads/*
test data/*
!test data/edit_testdatadb
!test data/testdatadb
!test data/Dimethyl_DIC_merged_psms.txt
**/backup*
js/EventListeners.js
js/Matomo_script.js
serverconf
Backups
cgi-bin/bakups_and_tests
cgi-bin/palia bakup
cgi-bin/test folder
cgi-bin/EventListeners_php
cgi-bin/EventFunctions.php
cgi-bin/PHP_errors.log
cgi-bin/Feedbacks.txt
PHP_errors.log
php.ini
css/backup
images/Thumbs.db
images/.htaccess